.title, .who-t, .part-t {
    display: block;
    height: fit-content;
    padding: 50px;
    background-color: white;
    text-align: center;
}

.who-t, .part-t {
    color: white;
    background-color: #94D1EA;
}

.who-d, .part-d {
    display: block;
    white-space: normal;
    padding: 50px 300px;
    background-color: white;
    line-height: 50px;
    text-align: center;
}