.title {
    display: block;
    height: fit-content;
    padding: 50px;
    background-color: #94D1EA;
    text-align: center;
    color: white;
}

.content-wrapper {
    display: block;
    padding: 100px;
    background-color: white;
    width: 100vw;
}

.card {
    display: block;
    height: fit-content;
    width: 50vw;
    margin: 20px auto;
    padding: 25px;
    border-radius: 6px;
    box-shadow: 0 0 3px grey;
}

.card-d {
    margin-top: 15px;
    display: block;
    width: 100%;
    white-space: normal;
}