/* Index */

position: relative;
width: 1440px;
height: 2961px;

background: #FFFFFF;


/* navbar */

position: absolute;
width: 1440px;
height: 95px;
left: 0px;
top: 0px;

background: #FFFFFF;


/* Signup Button */

position: absolute;
width: 172px;
height: 53px;
left: 1220px;
top: 21px;



/* Group 3 */

position: absolute;
width: 172px;
height: 53px;
left: 1220px;
top: 21px;



/* Rectangle 1 */

position: absolute;
left: 84.72%;
right: 3.33%;
top: 22.11%;
bottom: 22.11%;

background: #4770FF;


/* Signup */

position: absolute;
left: 87.36%;
right: 6.04%;
top: 37.87%;
bottom: 33.82%;

background: #FFFFFF;


/* Login */

position: absolute;
left: 77.22%;
right: 17.5%;
top: 32.63%;
bottom: 35.79%;

font-family: Poppins;
font-style: normal;
font-weight: normal;
font-size: 25px;
line-height: 45px;
/* or 180% */
display: flex;
align-items: center;
letter-spacing: 1.25464px;

color: #000000;



/* Services */

position: absolute;
left: 42.15%;
right: 49.51%;
top: 32.63%;
bottom: 35.79%;

font-family: Poppins;
font-style: normal;
font-weight: normal;
font-size: 25px;
line-height: 45px;
/* or 180% */
display: flex;
align-items: center;
letter-spacing: 1.25464px;

color: #000000;



/* FAQs */

position: absolute;
left: 35.07%;
right: 59.93%;
top: 32.63%;
bottom: 35.79%;

font-family: Poppins;
font-style: normal;
font-weight: normal;
font-size: 25px;
line-height: 45px;
/* or 180% */
display: flex;
align-items: center;
letter-spacing: 1.25464px;

color: #000000;



/* About Us */

position: absolute;
left: 24.31%;
right: 67.01%;
top: 32.63%;
bottom: 35.79%;

font-family: Poppins;
font-style: normal;
font-weight: normal;
font-size: 25px;
line-height: 45px;
/* or 180% */
display: flex;
align-items: center;
letter-spacing: 1.25464px;

color: #000000;



/* Logo */

position: absolute;
left: 2.64%;
right: 79.27%;
top: 24.21%;
bottom: 24.74%;



/* Group 1 */

position: absolute;
left: 2.64%;
right: 93.75%;
top: 24.21%;
bottom: 24.74%;



/* Vector */

position: absolute;
left: 3.91%;
right: 95.02%;
top: 61.38%;
bottom: 31.95%;

background: #545454;
border: 0.5px solid #545454;


/* Vector */

position: absolute;
left: 3.91%;
right: 95.02%;
top: 66.18%;
bottom: 24.74%;

background: #545454;
border: 0.5px solid #545454;


/* Vector */

position: absolute;
left: 3.43%;
right: 94.54%;
top: 25.33%;
bottom: 41.56%;

background: #4770FF;
border: 0.5px solid #4770FF;


/* Vector */

position: absolute;
left: 3.75%;
right: 95.49%;
top: 30.14%;
bottom: 58.38%;

background: #4770FF;
border: 0.5px solid #4770FF;


/* Vector */

position: absolute;
left: 2.97%;
right: 96.52%;
top: 24.21%;
bottom: 69.68%;

background: #4770FF;
border: 0.5px solid #4770FF;


/* Vector */

position: absolute;
left: 5.41%;
right: 94.08%;
top: 24.21%;
bottom: 69.68%;

background: #4770FF;
border: 0.5px solid #4770FF;


/* Vector */

position: absolute;
left: 5.65%;
right: 93.75%;
top: 39.75%;
bottom: 58.38%;

background: #4770FF;
border: 0.5px solid #4770FF;


/* Vector */

position: absolute;
left: 2.64%;
right: 96.76%;
top: 39.75%;
bottom: 58.38%;

background: #4770FF;
border: 0.5px solid #4770FF;


/* Vector */

position: absolute;
left: 5.41%;
right: 94.08%;
top: 51.05%;
bottom: 42.84%;

background: #4770FF;
border: 0.5px solid #4770FF;


/* Vector */

position: absolute;
left: 2.97%;
right: 96.52%;
top: 51.05%;
bottom: 42.84%;

background: #4770FF;
border: 0.5px solid #4770FF;


/* Vector */

position: absolute;
left: 6.94%;
right: 79.27%;
top: 32.63%;
bottom: 32.14%;

background: #000000;


/* welcome */

position: absolute;
width: 1440px;
height: 773px;
left: 0px;
top: 95px;

background: #FFFFFF;


/* image 1 */

position: absolute;
width: 1440px;
height: 772px;
left: 0px;
top: 1px;

background: url(image.png);
mix-blend-mode: normal;
box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);


/* Rectangle 2 */

position: absolute;
width: 1442px;
height: 344px;
left: -2px;
top: 199px;

background: rgba(255, 255, 255, 0.9);


/* Seamless home repair appointment service. */

position: absolute;
width: 709px;
height: 90px;
left: 136px;
top: 287px;

font-family: Poppins;
font-style: normal;
font-weight: bold;
font-size: 48px;
line-height: 45px;
/* or 94% */
display: flex;
align-items: center;
letter-spacing: 3px;

color: #4770FF;



/* Seamless home repair appointment service. */

position: absolute;
width: 709px;
height: 90px;
left: 136px;
top: 287px;

font-family: Poppins;
font-style: normal;
font-weight: bold;
font-size: 48px;
line-height: 45px;
/* or 94% */
display: flex;
align-items: center;
letter-spacing: 3px;

color: #4770FF;



/* Connecting seniors in-need to technicians that provide voluntary service. */

position: absolute;
width: 644px;
height: 62px;
left: 136px;
top: 392px;

font-family: Poppins;
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 25px;
/* or 125% */
display: flex;
align-items: center;
letter-spacing: 2px;

color: #000000;



/* Get Started */

position: absolute;
width: 287px;
height: 84px;
left: 1002px;
top: 329px;



/* button */

position: absolute;
left: 69.58%;
right: 10.49%;
top: 42.56%;
bottom: 46.57%;

background: #4770FF;


/* Get Started */

position: absolute;
width: 261px;
height: 52px;
left: 1015px;
top: 345px;

font-family: Poppins;
font-style: normal;
font-weight: bold;
font-size: 30px;
line-height: 25px;
/* or 83% */
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.5px;

color: #FFFFFF;



/* body */

position: absolute;
width: 1440px;
height: 1693px;
left: 0px;
top: 867px;



/* content1 */

position: absolute;
width: 1440px;
height: 573px;
left: 0px;
top: 0px;



/* Book anywhere, anytime */

position: absolute;
width: 454px;
height: 90px;
left: 114px;
top: 242px;

font-family: Poppins;
font-style: normal;
font-weight: bold;
font-size: 40px;
line-height: 45px;
/* or 112% */
display: flex;
align-items: center;
letter-spacing: 3px;

color: #000000;



/* image 39 */

position: absolute;
width: 759px;
height: 505px;
left: 643px;
top: 34px;

background: url(image.png);
border-radius: 15px;


/* Line 38 */

position: absolute;
width: 1354px;
height: 0px;
left: 1397px;
top: 560px;

border: 1px solid #8A8A8A;
transform: rotate(180deg);


/* content2 */

position: absolute;
width: 1440px;
height: 533px;
left: 0px;
top: 573px;



/* Manage all appointments in one glance */

position: absolute;
width: 454px;
height: 135px;
left: 923px;
top: 199px;

font-family: Poppins;
font-style: normal;
font-weight: bold;
font-size: 40px;
line-height: 45px;
/* or 112% */
display: flex;
align-items: center;
letter-spacing: 3px;

color: #000000;



/* image 35 */

position: absolute;
width: 759px;
height: 505px;
left: 32px;
top: 14px;

background: url(image.png);
border-radius: 15px;


/* Line 39 */

position: absolute;
width: 1354px;
height: 0px;
left: 1406.5px;
top: 1122.5px;

border: 1px solid #8A8A8A;
transform: rotate(180deg);


/* content3 */

position: absolute;
width: 1440px;
height: 587px;
left: 0px;
top: 1106px;



/* Monitor service reviews */

position: absolute;
width: 454px;
height: 90px;
left: 120px;
top: 255px;

font-family: Poppins;
font-style: normal;
font-weight: bold;
font-size: 40px;
line-height: 45px;
/* or 112% */
display: flex;
align-items: center;
letter-spacing: 3px;

color: #000000;



/* image 36 */

position: absolute;
width: 759px;
height: 505px;
left: 648px;
top: 41px;

background: url(image.png);
border-radius: 15px;


/* Line 40 */

position: absolute;
width: 1354px;
height: 0px;
left: 1406.5px;
top: 1686.5px;

border: 1px solid #8A8A8A;
transform: rotate(180deg);


/* bottom get started */

position: absolute;
width: 1440px;
height: 150px;
left: 0px;
top: 2560px;



/* Get Started */

position: absolute;
width: 287px;
height: 84px;
left: 854px;
top: 28px;



/* button */

position: absolute;
left: 59.31%;
right: 20.76%;
top: 18.67%;
bottom: 25.33%;

background: #4770FF;


/* Get Started */

position: absolute;
width: 261px;
height: 52px;
left: 867px;
top: 44px;

font-family: Poppins;
font-style: normal;
font-weight: bold;
font-size: 30px;
line-height: 25px;
/* or 83% */
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.5px;

color: #FFFFFF;



/* Helping each other make the world better */

position: absolute;
width: 320px;
height: 73px;
left: 304px;
top: 39px;

font-family: Poppins;
font-style: normal;
font-weight: normal;
font-size: 30px;
line-height: 35px;
/* or 117% */
display: flex;
align-items: center;
letter-spacing: 0.5px;

color: #000000;



/* footer */

position: absolute;
width: 1440px;
height: 251px;
left: 0px;
top: 2710px;

background: #FFFFFF;


/* Rectangle 97 */

position: absolute;
width: 1440px;
height: 251px;
left: 0px;
top: 0px;

background: #303A47;


/* Logo */

position: absolute;
left: 5.07%;
right: 76.84%;
top: 24.7%;
bottom: 57.13%;



/* Group 1 */

position: absolute;
left: 5.07%;
right: 91.32%;
top: 24.7%;
bottom: 57.13%;



/* Vector */

position: absolute;
left: 6.34%;
right: 92.59%;
top: 37.93%;
bottom: 59.7%;

background: #FFFFFF;
border: 0.5px solid #FFFFFF;


/* Vector */

position: absolute;
left: 6.34%;
right: 92.59%;
top: 39.64%;
bottom: 57.13%;

background: #FFFFFF;
border: 0.5px solid #FFFFFF;


/* Vector */

position: absolute;
left: 5.86%;
right: 92.11%;
top: 25.1%;
bottom: 63.12%;

background: #FFFFFF;
border: 0.5px solid #FFFFFF;


/* Vector */

position: absolute;
left: 6.18%;
right: 93.06%;
top: 26.81%;
bottom: 69.1%;

background: #FFFFFF;
border: 0.5px solid #FFFFFF;


/* Vector */

position: absolute;
left: 5.4%;
right: 94.09%;
top: 24.7%;
bottom: 73.13%;

background: #FFFFFF;
border: 0.5px solid #FFFFFF;


/* Vector */

position: absolute;
left: 7.84%;
right: 91.65%;
top: 24.7%;
bottom: 73.13%;

background: #FFFFFF;
border: 0.5px solid #FFFFFF;


/* Vector */

position: absolute;
left: 8.08%;
right: 91.32%;
top: 30.23%;
bottom: 69.1%;

background: #FFFFFF;
border: 0.5px solid #FFFFFF;


/* Vector */

position: absolute;
left: 5.07%;
right: 94.33%;
top: 30.23%;
bottom: 69.1%;

background: #FFFFFF;
border: 0.5px solid #FFFFFF;


/* Vector */

position: absolute;
left: 7.84%;
right: 91.65%;
top: 34.25%;
bottom: 63.57%;

background: #FFFFFF;
border: 0.5px solid #FFFFFF;


/* Vector */

position: absolute;
left: 5.4%;
right: 94.09%;
top: 34.25%;
bottom: 63.57%;

background: #FFFFFF;
border: 0.5px solid #FFFFFF;


/* Vector */

position: absolute;
left: 9.38%;
right: 76.84%;
top: 27.7%;
bottom: 59.77%;

background: #FFFFFF;


/* support@qwikrepair.com */

position: absolute;
width: 260px;
height: 41px;
left: 78px;
top: 142px;

font-family: Poppins;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 64px;
/* or 535% */
display: flex;
align-items: center;
letter-spacing: 1.5px;

color: #FFFFFF;



/* About Us */

position: absolute;
width: 260px;
height: 41px;
left: 537px;
top: 62px;

font-family: Poppins;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 64px;
/* or 321% */
display: flex;
align-items: center;
letter-spacing: 1.78988px;

color: #FFFFFF;



/* Terms of Use */

position: absolute;
width: 260px;
height: 41px;
left: 537px;
top: 146px;

font-family: Poppins;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 64px;
/* or 321% */
display: flex;
align-items: center;
letter-spacing: 1.78988px;

color: #FFFFFF;



/* Privacy Policy */

position: absolute;
width: 273px;
height: 41px;
left: 797px;
top: 146px;

font-family: Poppins;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 64px;
/* or 321% */
display: flex;
align-items: center;
letter-spacing: 1.78988px;

color: #FFFFFF;



/* Guides */

position: absolute;
width: 273px;
height: 41px;
left: 797px;
top: 64px;

font-family: Poppins;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 64px;
/* or 321% */
display: flex;
align-items: center;
letter-spacing: 1.78988px;

color: #FFFFFF;



/* Services */

position: absolute;
width: 101px;
height: 41px;
left: 1081px;
top: 66px;

font-family: Poppins;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 64px;
/* or 321% */
display: flex;
align-items: center;
letter-spacing: 1.78988px;

color: #FFFFFF;

