.navbar {
    background-color: white;
    position: sticky;
    top: 0;
    width: 100vw;
    height: 50px;
    display: grid;
    grid-template-columns: repeat(20, 5vw);
    grid-template-rows: 100%;
    box-shadow: 0 0 5px grey ;
}

.navbar * {
    justify-content: center;
}

.logo {
    grid-column: 1 / 5;
}

.navbar .btn-navigation {
    grid-column: 8 / 14;
}

.navbar .btn-navigation * {
    margin: 0 15px;
    cursor: pointer;
    transition: 0.2s;
    border-bottom: 1.5px solid white;
}

.navbar .btn-navigation *:hover {
    border-color: #94D1EA ;
    color: #94D1EA;
}

.navbar .btn-access {
    grid-column: 17 / -1;
    display: grid;
    grid-template-columns: repeat(2, auto);
}