body {
    overflow: overlay;
}

.content-wrapper {
    height: calc(100vh - 50px);
    width: 80vw;
    background-color: #F6F8FE;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    overflow-x: hidden;
}

.card-wrapper {
    height: fit-content;
    width: 95%;
    justify-self: center;
    white-space: initial;
    display: grid;
    grid-template-columns: repeat(auto-fill, 250px);
    grid-gap: 25px;
    justify-content: space-between;
    padding: 0 0 25px 0;
}

.card {
    width: 250px;
    height: 330px;
    border-radius: 6px;
    padding: 10px;
    box-shadow: 0 0 3px grey;
}

.card .card-service-name {
    margin-top: 50px;
}

.card .card-tech-name, .card .card-desc {
    margin-top: 5px;
}

.card .card-btn {
    width: fit-content;
    position: absolute;
    bottom: 0;
    margin-bottom: 15px;
}

.card .card-pic {
    width: 70px;
    border-radius: 35px;
}

.appo-no {
    color: rgb(146, 146, 146);
    margin: auto;
}